<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>🔑 Sign in</title>
</head>

<body>
    <div class="flex h-screen w-full items-center justify-center">
        <div class="flex h-fit w-fit flex-col gap-6 p-4 text-zinc-500">
            <div class="text-center text-3xl font-semibold text-zinc-600">Sign in</div>
            <form class="flex flex-col gap-4" action={{actionRoute}} method="post">
                <div class="flex flex-col gap-1">
                    <div>{{name}}</div>
                    <input type="text" class="border border-gray-500 p-1 text-center" name={{name}} placeholder={{placeholder}} />
                </div>
                <div class="flex flex-col gap-1">
                    <div>password:</div>
                    <input type="text" class="border border-gray-500 p-1 text-center" name="password"  placeholder="admin123" />
                </div>
                <input type="submit" class="rounded-md bg-blue-400 p-2 text-zinc-200 shadow-lg" value="Submit" />
            </form>
            <div class="flex gap-2 text-sm text-zinc-500 justify-center cursor-pointer">
                <a href="/api">API</a>
                <a href="https://github.com/han-tara/exercise-nest-rest">Github</a>
            </div>
        </div>
    </div>
</body>

</html>